### 데이터 전처리 EX-4
- 범주형 데이터 인코딩
-

In [7]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import pandas as pd

In [27]:
#데이터 가져오기
df = pd.read_csv('adult.csv')
print(df.head())
print(df.shape)

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K
(48842, 15)

In [9]:
#결측치 확인
df.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [17]:
# 레이블 인코딩으로 변환하기
label_encoder = LabelEncoder()
columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country']

for col in columns:
    df[col] = label_encoder.fit_transform(df[col])

In [15]:
for col in columns:
    print(df[col].head(3))

0    4
1    4
2    2
Name: workclass, dtype: int64
0     1
1    11
2     7
Name: education, dtype: int64
0    4
1    2
2    2
Name: marital-status, dtype: int64
0     7
1     5
2    11
Name: occupation, dtype: int64
0    3
1    0
2    0
Name: relationship, dtype: int64
0    2
1    4
2    4
Name: race, dtype: int64
0    1
1    1
2    1
Name: gender, dtype: int64
0    39
1    39
2    39
Name: native-country, dtype: int64

In [ ]:
#원 핫 인코딩으로 변환하기
onehot_encoder = OneHotEncoder(sparse_output=False)

In [31]:
columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country']


onehot_encoded = onehot_encoder.fit_transform(df[columns])

#결과를 데이터프레임으로 변환

onehot_col = onehot_encoder.get_feature_names_out(columns)
#print(onehot_col)

onehot_df = pd.DataFrame(onehot_encoded, columns=onehot_col)
print(onehot_df.head())

   workclass_?  workclass_Federal-gov  workclass_Local-gov  \
0          0.0                    0.0                  0.0
1          0.0                    0.0                  0.0
2          0.0                    0.0                  1.0
3          0.0                    0.0                  0.0
4          1.0                    0.0                  0.0

   workclass_Never-worked  workclass_Private  workclass_Self-emp-inc  \
0                     0.0                1.0                     0.0
1                     0.0                1.0                     0.0
2                     0.0                0.0                     0.0
3                     0.0                1.0                     0.0
4                     0.0                0.0                     0.0

   workclass_Self-emp-not-inc  workclass_State-gov  workclass_Without-pay  \
0                         0.0                  0.0                    0.0
1                         0.0                  0.0                    0.0
2                         0.0                  0.0                    0.0
3                         0.0                  0.0                    0.0
4                         0.0                  0.0                    0.0

   education_10th  ...  native-country_Portugal  native-country_Puerto-Rico  \
0             0.0  ...                      0.0                         0.0
1             0.0  ...                      0.0                         0.0
2             0.0  ...                      0.0                         0.0
3             0.0  ...                      0.0                         0.0
4             0.0  ...                      0.0                         0.0

   native-country_Scotland  native-country_South  native-country_Taiwan  \
0                      0.0                   0.0                    0.0
1                      0.0                   0.0                    0.0
2                      0.0                   0.0                    0.0
3                      0.0                   0.0                    0.0
4                      0.0                   0.0                    0.0

   native-country_Thailand  native-country_Trinadad&Tobago  \
0                      0.0                             0.0
1                      0.0                             0.0
2                      0.0                             0.0
3                      0.0                             0.0
4                      0.0                             0.0

   native-country_United-States  native-country_Vietnam  \
0                           1.0                     0.0
1                           1.0                     0.0
2                           1.0                     0.0
3                           1.0                     0.0
4                           1.0                     0.0

   native-country_Yugoslavia
0                        0.0
1                        0.0
2                        0.0
3                        0.0
4                        0.0

[5 rows x 102 columns]

In [ ]:
#원래 데이터에 추가
data_onehot = pd.concat([df, onehot_df], axis=1)
print(data_onehot.head())

   age  workclass  fnlwgt  education  educational-num  marital-status  \
0   25          4  226802          1                7               4
1   38          4   89814         11                9               2
2   28          2  336951          7               12               2
3   44          4  160323         15               10               2
4   18          0  103497         15               10               4

   occupation  relationship  race  gender  ...  native-country_32  \
0           7             3     2       1  ...                0.0
1           5             0     4       1  ...                0.0
2          11             0     4       1  ...                0.0
3           7             0     2       1  ...                0.0
4           0             3     4       0  ...                0.0

   native-country_33  native-country_34  native-country_35 native-country_36  \
0                0.0                0.0                0.0               0.0
1                0.0                0.0                0.0               0.0
2                0.0                0.0                0.0               0.0
3                0.0                0.0                0.0               0.0
4                0.0                0.0                0.0               0.0

   native-country_37  native-country_38  native-country_39  native-country_40  \
0                0.0                0.0                1.0                0.0
1                0.0                0.0                1.0                0.0
2                0.0                0.0                1.0                0.0
3                0.0                0.0                1.0                0.0
4                0.0                0.0                1.0                0.0

   native-country_41
0                0.0
1                0.0
2                0.0
3                0.0
4                0.0

[5 rows x 117 columns]

In [29]:
print(data_onehot.shape)

(48842, 117)