# 6월10일 학습

### 복습
- 파이썬: 인터프리터 언어. 빅데이터, AI 관련해서 주로 사용된다.
- numpy, pandas, matplotlib 등의 라이브러리를 활용해 데이터 처리, 통계 분석, 시각화를 손쉽게 수행

- 가상 환경 설정: venv를 이용하여 가상화 공간 사용
    - 이점: 모든 버전에서 라이브러리를 지원하지 않아 서로 다른 버전을 사용할 때 충돌이 발생하지 않도록 할 수 있다.

- 변수: 파이썬에서 변수는 객체를 가리키는 것. 메모리의 주소 값을 가진다.
    - 자료형: 슷자형, 문자형, BOOL
    - 컬렉션형: 리스트, 튜플, 딕셔너리, 집합

- 연산: 파이썬에서는 문자열 연산이 가능하다. (문자열 더해서 연결, 문자열 곱하기 가능)
- len(): 내장함수 len()을 이용해서 문자열 길이를 구할 수 있다.

- 문자열 인덱싱/슬라이싱: 문자열에는 인덱스가 0번부터 n-1번까지 존재하며, 슬라이싱을 통해 특정 부분을 잘라낼 수 있다.

- f문자열 포매팅

- 멤버 연산자와 식별 연산자

- 시퀀스 자료형 : 컬렉션형.
    * 리스트: 중복 가능. 리스트의 요소는 어떤 타입이어도 상관이 없다.  
    * 튜플: 중복 가능, 수정 불가능
    * 딕셔너리: 키와 밸류의 쌍으로 저장. 키는 중복이 불가능하다.
    * 집합: 중복이 불가능한 집합

## 리스트
- 중첩된 리스트 형태: 리스트 안에 리스트가 존재하는 형태.

In [ ]:
#중첩 리스트 예제 
list_b = [1,2,3,['a','b','c']]
print(list_b[3][1])  # Output: b

b

In [2]:
#슬라이싱
list_c = [1,2,3,4,5]

In [6]:
list_c[1:4]  # Output: [ 2, 3, 4]
list_c[:4]  #list_c[0:4]와 같음
list_c[1:]  #list_c[1:5]와 같음
list_c[:]   #list_c[0:5]와 같음
list_c[::2]  # Output: [1, 3, 5] (2칸씩 건너뛰기)
list_c[::-1]  # Output: [5, 4, 3, 2, 1] (역순)
#리스트 길이
print(len(list_c))  # Output: 5

5

- 리스트의 +연산으로 뒤의 리스트를 앞의 리스트에 이어준다.

In [7]:
#list의 연산: +, *
list_d = [100, 200, 300]

In [ ]:
list_c
list_d
list_c + list_d  #새로윤 리스트 생성 Output: [1, 2, 3, 4, 5, 100, 200, 300]

[1, 2, 3, 4, 5, 100, 200, 300]

- 리스트의 *연산으로 리스트의 요소를 n번 반복해서 저장 -> 새로운 리스트 생성

In [11]:
list_d * 3

[100, 200, 300, 100, 200, 300, 100, 200, 300]

### 리스트에 요소(데이터 추가)
- 순서 -> 마지막 인덱스 다음에 추가
    * append() 메서드: 리스트의 마지막에 데이터 추가
    * pop() 매서드: 리스트의 마지막 요소 축출, 삭제 및 값 반환
    * sort()메서드: 리스트의 요소를 순서대로 정렬. 문자의 경우 알파벳 순서대로 정렬
    * index() 메서드: 특정 값의 인덱스 찾기
    * insert()메서드: 리스트에 요소 삽입. 원하는 인덱스 앞에 값 삽입
    * remove() 메서드: 리스트 요소 제거. 리스트에서 첫 번째로 나오는 x를 삭제.(중복 값이 있는 경우 첫 번째 것만 삭제)
    * extend() 메서드: list_d를 앞의 리스트에 추가하여준다.
    * del() 메서드를 이용해 리스트의 요소를 삭제할 수 있다. del a[2:]   #a[2]부터 끝까지 삭제

In [21]:
list_a = [1,2,3]

In [17]:
list_a.append(100)  # Output: [1, 2, 3, 4]
print(list_a)

[1, 2, 3, 100]

In [18]:
#pop: 마지막 요소 축출 -> 삭제 및 값 반환
list_a.pop()  # Output: 100
print(list_a)  # Output: [1, 2, 3]

[1, 2, 3]

In [22]:
list_a.pop(2)  # 인덱스 2의 요소 삭제 및 반환
print(list_a)  # Output: [1, 2]

[1, 2]

In [24]:
list_a = [1,2,8,2,10]

In [26]:
list_a.sort()  # 리스트 정렬
print(list_a)  # Output: [1, 2, 2, 8, 10]
list_a.reverse()  # 리스트 역순
print(list_a)  # Output: [10, 8, 2, 2, 1]

[1, 2, 2, 8, 10]
[10, 8, 2, 2, 1]

In [33]:
list_a = [1,2,5,20,100,25,60,443]
list_a.index(100)  # 10의 인덱스 찾기

4

In [ ]:
list_a.insert(2,100)    # 인덱스 2에 100 삽입
list_a

[1, 2, 100, 5, 20, 100, 25, 60, 443]

In [35]:
#remove: 특정 값 삭제
list_a.remove(100)  # 값 100 삭제
print(list_a)  # Output: [1, 2, 5, 20, 25, 60, 443]

[1, 2, 5, 20, 100, 25, 60, 443]

In [36]:
#extend: 리스트 확장
list_q = [1, 2, 3]
list_p = [4, 5, 6]
list_q.extend(list_p)  # list_q에 list_p의 요소 추가
print(list_q)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

## 튜플
- 리스트와 유사한 자료형.
- 리스트는 대괄호로 생성, 튜플은 소괄호로 생성한다. 요소 값 변경이 **불가능**하다.**(변경하지 못하도록 안전하게 유지한다.)**
- 튜플은 1개의 요소만을 가질 때는 요소 뒤에 **쉼표**를 반드시 붙여야 한다.
    * 예시: t1 = (1,)
- 소괄호는 생략해도 무방하다.
- **프로그램이 실행되는 동안 값을 유지해야 한다면 튜플을, 수시로 값을 변경해야 한다면 리스트를 사용한다.**

- 리스트와 마찬가지로 **중첩** 튜플이 가능하다.
    * 예시: t5 = ('a','b',('ab','cd'))
    * t5[2][1] #cd 출력

- 인덱싱, 슬라이싱, 튜플 더하기와 곱하기, 튜플 구하기 등 모두 **리스트와 동일**하다.

### 리스트와 튜플
* 튜플은 리스트와 크게 다르지 않고, 데이터를 안전하게 저장한다는 차이점이 있다.

In [38]:
#tuple: 리스트와 동일하다. 
#변경 불가능한 리스트, --> 데이터 안전하게 유지
t_1 = ()
print(type(t_1))  # Output: <class 'tuple'>

<class 'tuple'>

In [ ]:
#소괄호는 생략 가능 
t_2 = (1,2,3,4)
t_3 = 10,20,30,40

In [42]:
t_3

(10, 20, 30, 40)

In [43]:
t_2[0]

1

In [53]:
# 튜플은 변경 불가능하므로, 다음과 같은 코드는 오류를 발생시킨다.
#t_2[0] = 100  # TypeError: 'tuple' object does not support item assignment

In [54]:
# 튜플은 요소를 삭제할 수 없다.
#del t_2[0]  # TypeError: 'tuple' object doesn't support item deletion

In [ ]:
#tuple의 슬라이싱
t_3[1:3]

(20, 30)

In [ ]:
a,b,c = 1000,2000,3000  #특정 함수에서 반환 데이터가 tuple 타입
# 특정 함수는 값을 받고 처리하여 결과 반환을 한다.(하나의 데이터) 이 경우 3개의 값을 반환해야하는 것을 튜플 형식으로 묶어 반환하는 것이다.

In [50]:
print(a,b,c)

1000 2000 3000

In [51]:
t_2 + t_3  # 튜플의 결합

(1, 2, 3, 4, 10, 20, 30, 40)

In [ ]:
t_2 * 3 # 튜플의 반복

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## 딕셔너리
- 딕셔너리란
    - 대응 관계를 나타내는 자료형
    - 연관 배열 또는 해시
    - **Key**와 **Value**를 한 쌍으로 갖는 자료형. 
        - key: 식별 이름: 데이터
    - 순차적으로 해당 요소 값을 구하지 않고, **Key를 통해 Value를 바로 얻는 것**이 특징
    - 키 값만 안다면 손쉽게 값을 찾을 수 있다.(키는 중복 불가능)

- 어떻게 만드는가?
    - **Key와 Value의 쌍 여러 개**(key:value)가 중괄호로 둘러싸임
    - 각 요소는 쉼표로 구분된다.
    - 키는 객체 형태로 만드며, 문자열을 주로 사용한다.

- 딕셔너리 쌍 추가, 삭제하기
    - 대괄호를 이용하여 키 이름을 입력해도 된다.
        * 예시: a['name'] = 'pey'   #{'name':'pey'}쌍 추가

- 딕셔너리 사용 방법
    - 딕셔너리에서 키를 사용해 밸류 얻기
        * 리스트나 튜플, 문자열은 요소 값 접근 시 인덱싱이나 슬라이싱 기법 중 하나를 사용
        * 딕셔너리는 Key를 사용해 Value 접근

    - 딕셔너리 주의 사항:
        * **딕셔너리에는 동일한 키가 중복으로 존재할 수 없다.**
        * **리스트는 그 값이 변할 수 있기 때문에 키로는 쓸 수 없으나, Value에는 아무 값이나 가능하다.**

- 딕셔너리 관련 함수
    - 키 리스트 만들기 : 
        * **Keys()** -> key만을 모아서 dict_keys 객체 리턴.
        * 리스트처럼 사용할 수 있지만, **리스트 관련 함수(append, insert, pop등)는 사용 불가능**
        * dict_keys 객체를 리스트로 변환하는 방법: *list(a.Keys())*
    
    - Value 리스트 만들기:
        * Value만을 모아 dict_values 객체 리턴.
        * 키와 마찬가지로 리스트로 변환하여 사용 가능

    - key, value 쌍 얻기:
        * items() -> key와 value의 쌍을 튜플로 묶어 dict_items 객체 리턴
    
    - key:value 쌍 모두 지우기: clear()
        * 예시: a.clear()   #딕셔너리 a의 모든 요소 삭제
        * 빈 딕셔너리는 {}로 표현
    - 해당 key가 딕셔너리 안에 있는지 조사하기: in
        * key가 딕셔너리 안에 존재하면 True, 존재하지 않으면 False 리턴
        * 예시: 딕셔너리 a에 대하여, 'name' in a    # 키 'name'이 딕셔너리 a 안에 있는지

    - key로 value 얻기: get()
        * Key에 대응되는 Value 리턴
        * **존재하지 않는 키 사용 시 None 리턴** - 오류를 발생시키는 리스트와의 차이점
        * key 값이 없을 경우 미리 정해 둔 디폴트 값을 대신 가져오도록 지정 가능
        * 예시: a.get('name')   #'name'에 대응되는 value 리턴

In [55]:
#딕셔너리 : key:Value => key 값으로 데이터를 참조
# {key1:value1, key2:value2...}
dict_1 = {}
print(type(dict_1))  # Output: <class 'dict'>
print(dict_1)

<class 'dict'>
{}

In [57]:
dict_2 = {1: 'a'}
print(dict_2)  # Output: {1: 'a'}
print (type(dict_2))  # Output: <class 'dict'>

{1: 'a'}
<class 'dict'>

In [58]:
#요소 값 추가 => key 정의, 값 정의 필요
dict_2[2] = 'b'
print(dict_2)  # Output: {1: 'a', 2: 'b'}

{1: 'a', 2: 'b'}

In [ ]:
dict_2[1]   # key 값으로 데이터 접근

'a'

In [ ]:
dict_2[3] = (1,2,3)  # key 값으로 tuple 데이터 추가
dict_2  # 추가된 데이터 확인

{1: 'a', 2: 'b', 3: (1, 2, 3)}

In [ ]:
# 딕셔너리 요소 삭제
del dict_2[3]  # key 3에 해당하는 요소 삭제

In [ ]:
dict_2  # 삭제된 데이터 확인

{1: 'a', 2: 'b'}

In [68]:
#학생: 학번, 이름, 학년, 학과 => 데이터의 구조화
student_1 = {
    's_no': 1111,
    's_name': 'King',
    's_grade': 4,
    's_major': 'Com'
}

In [71]:
student_1['s_no']  # 학번 접근

1111

In [ ]:
student_1['s_major']    # 학과 접근

'Com'

In [73]:
player = {
    'team' : 'To',
    'name' : 'SON',
    'number' : 7,
}

In [74]:
player.keys()  # 딕셔너리의 키 목록 반환

dict_keys(['team', 'name', 'number'])

In [75]:
player.values()  # 딕셔너리의 값 목록 반환

dict_values(['To', 'SON', 7])

In [ ]:
list(player.keys())  # 키 목록을 리스트로 변환 리스트의 형태로 처리하기 위해 변환

['team', 'name', 'number']

In [77]:
list(player.values())  # 값 목록을 리스트로 변환

['To', 'SON', 7]

In [78]:
'name' in player  # 키 'name'이 딕셔너리에 있는지 확인 (True)

True

In [79]:
'age' in player  # 키 'age'가 딕셔너리에 있는지 확인 (False)

False

In [81]:
player.items()  # 딕셔너리의 키-값 쌍을 튜플 형태로 반환
#list(player.items())  # 키-값 쌍을 리스트로 변환

dict_items([('team', 'To'), ('name', 'SON'), ('number', 7)])

In [82]:
list_temp = list(player.items())

In [83]:
list_temp

[('team', 'To'), ('name', 'SON'), ('number', 7)]

In [84]:
list_temp[0]  # 첫 번째 키-값 쌍 (('team', 'To'))

('team', 'To')

In [ ]:
list_temp[0][1]  # 첫 번째 키-값 쌍의 값(Value) ('To')

'To'

### 딕셔너리 get 활용하기
- get 사용 시 반환이 없어도 에러가 발생하지 않는다. --> if문 등에 활용 가능
- get('key', '기본값')으로 기본값을 설정해줄 수 있다.

In [86]:
player.get('name')

'SON'

In [87]:
player.get('pos')   # 키가 존재하지 않을 때 기본값을 반환

In [ ]:
pos = player.get('pos') # 반환이 없으면 None이 반환된다.

In [89]:
print(pos)  # None (기본값)

None

In [90]:
pos1 = player.get('pos', 'no pos')  # 기본값을 'no pos'으로 설정

In [91]:
print(pos1)  # 'no pos' (기본값)

no pos

## 집합(set)
- 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형
- set 키워드를 사용하여 생성
    * set()에 리스트를 입력하여 생성
- set()에 문자열을 입력하여 생성(또는 시퀀스 데이터 입력)

- **집합은 중복을 허용하지 않는다.**
- **순서가 없다. --> 인덱싱/슬라이싱 불가**
    * 인덱스 사용을 원할 경우 리스트나 튜플로 변환 필요.(list(), tuple() 함수 사용)

In [96]:
#집합(set): 중복을 허용하지 않는 데이터 구조
s1 = set([1,2,3,4,5])  # set은 중복을 허용하지 않음

In [97]:
s1

{1, 2, 3, 4, 5}

In [99]:
s2 = set("Hello")  # 문자열을 집합으로 변환 (중복 제거)
s2

{'H', 'e', 'l', 'o'}

### 교집합, 합집합, 차집합 구하기
- set 자료형을 유용하게 사용 가능하다.
    * 교집합 구하기: '&' 기호나 intersection()함수 사용 #AND 연산
    * 합집합 구하기: '|' 기호나 union()함수 사용    #OR 연산, 중복을 제거한 전체 집합을 구하고 싶을 때 사용.
    * 차집합 구하기: '-' 기호나 difference()함수 사용   #A-B, 문제 데이터를 삭제하는 등의 작업에서 사용.

- **집합은 중복을 제거해주기 때문에 방대한 데이터를 처리할 때 유용하다.**

In [100]:
#set : 집합 => 중복, 순서 없음, 집합 연산 사용
s_1 = set([1,2,3,4,1,2,5])  # 중복된 요소는 하나로 처리됨
s_1  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [101]:
set_2 = set("Hello")  # 문자열을 집합으로 변환 (중복 제거)
set_2  # Output: {'H', 'e', 'l', 'o'}

{'H', 'e', 'l', 'o'}

In [102]:
list_1 = list(s_1)  # 집합을 리스트로 변환
print(list_1)  # Output: [1, 2, 3, 4, 5] (순서가 보장되지 않음)

[1, 2, 3, 4, 5]

In [103]:
set_2 = set([1,2,3,4,5,6])  # 집합 생성
set_3 = set([4,5,6,7,8,9])  # 또 다른 집합 생성
# 집합 연산
print(set_2 & set_3)  # 교집합 (Output: {4, 5, 6})
print(set_2 | set_3)  # 합집합 (Output: {1, 2, 3, 4, 5, 6, 7, 8, 9})
print(set_2 - set_3)  # 차집합 (Output: {1, 2, 3})

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

In [106]:
# set에서 데이터 추가 (중복 데이터 입력 X)및 삭제
set_2.add(7) # 집합에 요소 추가0 
set_2

{1, 2, 3, 4, 5, 6, 7}

In [107]:
set_2.remove(7)  # 집합에서 요소 삭제

In [112]:
set_2.update([1,2,3,4,7,8]) # 집합에 여러 요소 추가
set_2

{1, 2, 3, 4, 5, 6, 7, 8}

# 2장 프로그램의 흐름제어
- **if문, while문, for문**
    - for문에서 리스트를 주로 사용.
- 특정 선택 값에 맞게 적절한 화면, 기능을 제공하기 위한 흐름제어. 
## if문
- 주어진 조건을 판단한 후 그 상황에 맞게 처리해야 할 경우
    * 비교의 경우 논리 값이 반환. True/False
    * if 논리값 : 
    *   참일 때
    * else:
    *   거짓일 때

- if 문을 만들 때는 if 조건문 바로 **다음 문장부터 모든 문장에 들여쓰기**
    - 무시할 경우 오류 발생
    - 일정한 들여쓰기가 반드시 필요하다.

- elif는 개수에 제한 없이 사용 가능. 이전 조건식이 거짓일 때 실행

- 조건부 표현식: 변수 = 조건문이 참인 경우의 값 if 조건문 else 조건문이 거짓인 경우의 값
    * 들여쓰기 없이 간단하게 사용할 수 있다. 디폴트 값을 만들어 두고 조건을 만족하면 값을 바꾸는 형식으로 사용할 수도 있다.

- **조건식이 가장 중요하다** 연산자 + 조건식을 신경쓸것

In [114]:
# if: 분기 -> ~라면, 아니라면
# 성인이라면, 성인이 아니라면
age = 25

#성인이라면 -> 환영 메시지, 미성년 -> 킥
if age >= 18:
    print('환영합니다~~~')
    print('게임을 시작하세요!')
else:
    print('킥~~~')

환영합니다~~~
게임을 시작하세요!

In [115]:
#홀수 짝수 판단 => 숫자%2 = 0이면 짝수, 아니면 홀수
num = 10
if num % 2 == 0:
    print(f'{num}은 짝수입니다.')
else:
    print(f'{num}은 홀수입니다.')

10은 짝수입니다.

In [121]:
#양수: +, => num1 > 0 
# 음수: -, => num1 < 0
# 0 => num1 == 0 <==> num1이 0보다 작지도 크지도 않다.

num1 = 0
if num1 > 0:
    print(f'{num1}은 양수입니다.')
else:   #num1 <= 0
    if num1 < 0:
        print(f'{num1}은 음수입니다.')
    else:
        print('0입니다.')

0입니다.

In [120]:
# elif: 여러 조건을 순차적으로 검사
# 학점 계산 등에서 사용
if num1 > 0:
    print(f'{num1}은 양수입니다.')
elif num1 < 0:
    print(f'{num1}은 음수입니다.')
else:
    print('0입니다.')

0입니다.

In [122]:
# 조건부 표현식 - 운전면허 시험
score = 85
check_msg = 'PASS' if score >= 80 else 'FAIL'
print(check_msg)  # Output: PASS

PASS

In [ ]:
#표준 출력 함수 => print()
#표준 입력 함수 => input()
 
user_name = input('이름: ') #디폴트 공백. *str로 반환* 
print(user_name, type(user_name))  # 입력된 이름과 타입 출력. 타입은 str로 반환됨을 확인.

powder <class 'str'>

- 표준 입력 함수 input()
    * **기본적으로 공백 메시지 출력, str로 반환된다.**
    * 강제형변환이 필요할 수 있다.
    * **문자가 아닌 숫자 등도 모두 str로 반환된다.**

In [128]:
#나이를 입력 받아 독감예방 접종이 가능한지 여부를 확인하는 프로그램
age = input('나이를 입력하세요: ')  # 나이를 입력받음. input()은 항상 문자열로 반환됨.
check_msg = '무료 예방접종 가능' if int(age) >=65 or int(age) < 15 else '무료 접종 불가'
print(check_msg)

무료 접종 불가

## while 문
- 반복해서 문장을 수행해야 할 경우 while 문 사용
- while 문은 조건문이 참인 동안에 while 문에 속한 문장이 반복해서 수행된다.
    - **탈출이 가능하도록 해야한다**(무한루프 방지)
- 무한 루프: 무한히 반복한다는 뜻의 무한 루프.
- while 문 강제로 빠져나가기
    * 강제로 while 문을 빠져나가야 할 때: break 문 사용(무한 루프를 사용할 때 등)

- while 문을 빠져나가지 않고 while 문의 맨 처음(조건문)으로 다시 돌아가야 할 때 continue 사용.

In [130]:
# 반복문 : while condition(True/False):
# 조건식을 통해서 반복 -> *탈출이 가능해야 한다.*
cnt = 0

while cnt < 5:
    cnt += 1  # cnt를 1씩 증가시킴. **이 문장이 없으면 무한 루프에 빠짐**
    print(cnt)

1
2
3
4
5

In [129]:
# (1부터 10까지의 숫자 중 홀수만 출력하는 예시)
a = 0
while a < 10:  # a가 10보다 작을 때까지 반복
    a += 1  # a를 1씩 증가시킴
    if a % 2 == 0:  # a가 짝수인 경우
        continue  # 다음 반복으로 넘어감
    print(a)  # 홀수인 경우에만 출력

1
3
5
7
9

In [131]:
#1부터 10까지, 홀수만 출력( continue 사용X)
cnt = 0
while cnt < 10:
    cnt += 1
    if cnt % 2 == 1:
        print(cnt)

1
3
5
7
9

## for 문
- 기본 구조: for 변수 in 리스트(또는 튜플, 문자열):
    *           수행할 문장1...
    *           수행할 문장2...
    * **리스트나 튜플, 문자열의 첫 번쨰 요소부터 마지막 요소까지 차례로 변수에 대입되어 문장이 수행된다.**

- for 문과 함께 자주 사용되는 range 함수: **숫자 리스트를 자동으로 만들어주는 함수.**
    * range(10): 0부터 10 미만의 숫자를 포함하는 range 객체
    * range(start,stop,step): 시작 값, 중단 값, 증가 값(기본 1)

- **리스트 컴프리헨션(list comprehension)** 사용하기
    * **리스트 안에 for문 포함하기**
        * a 리스트의 각 항목에 3을 곱한 결과를 result 리스트에 담기
        * result = [num*3 for num in a]
        * **리스트 컴프리헨션 안에 'if 조건' 사용 가능**
    - 데이터들을 가공해서 새로운 결과를 만들어야 할 때 간편하게 생성할 수 있다.

In [132]:
list_a = [1,2,3,4,5,100,200,300]

for i in list_a:
    print(i)

1
2
3
4
5
100
200
300

In [133]:
list_b = [(1,2),(3,4),(5,6)]

for n1, n2 in list_b:
    print(n1, n2)

1 2
3 4
5 6

In [ ]:
# 5명의 학생이 영어 시험을 봤다. => 60점 이상 pass 출력
# 5명의 영어 점수 총점, 평균

scores = [80, 50, 70, 100, 55]

num = 0
total = 0   #학생 리스트의 일련번호
sum = 0  #총점 저장

for score in scores:
    #학생의 점수를 비교해서 pass/fail 출력
    #리스트 일련번호 출력: num = num + 1
    num += 1
    sum = sum + score
    #print(num, score)
    if score >= 60:
        print(num, score, 'PASS')
    else:
        print(num, score, 'FAIL')

print('총점: ', sum)    # 총점 출력
print('평균: ', sum / len(scores))  # 평균 출력

1 80 PASS
2 50 FAIL
3 70 PASS
4 100 PASS
5 55 FAIL
총점:  355

In [ ]:
# range함수 : 일련 번호 생성 
nums_1 = range(10)  # 0부터 10-1 까지의 숫자를 생성
for num in nums_1:
    print(num, end=',')  # 0부터 9까지 출력. 개행 없이 출력

0,1,2,3,4,5,6,7,8,9,

In [ ]:
for num in range(3,8):
    print(num, end=' ')  # 3 4 5 6 7

3 4 5 6 7

In [144]:
for num in range(1, 11, 2):  # 1부터 10까지 2씩 증가
    print(num, end=' ')  # 1 3 5 7 9

1 3 5 7 9

In [152]:
# 구구단 출력하기.(중첩) 
# 각 단: X1 ~ X9
for dan in range(2,10):
    print(f'{dan} 단')
    for num in range(1, 10):
        print(f'{dan}X{num}={dan*num}', end=' ')
    print()  # 줄바꿈

2 단
2X1=2 2X2=4 2X3=6 2X4=8 2X5=10 2X6=12 2X7=14 2X8=16 2X9=18
3 단
3X1=3 3X2=6 3X3=9 3X4=12 3X5=15 3X6=18 3X7=21 3X8=24 3X9=27
4 단
4X1=4 4X2=8 4X3=12 4X4=16 4X5=20 4X6=24 4X7=28 4X8=32 4X9=36
5 단
5X1=5 5X2=10 5X3=15 5X4=20 5X5=25 5X6=30 5X7=35 5X8=40 5X9=45
6 단
6X1=6 6X2=12 6X3=18 6X4=24 6X5=30 6X6=36 6X7=42 6X8=48 6X9=54
7 단
7X1=7 7X2=14 7X3=21 7X4=28 7X5=35 7X6=42 7X7=49 7X8=56 7X9=63
8 단
8X1=8 8X2=16 8X3=24 8X4=32 8X5=40 8X6=48 8X7=56 8X8=64 8X9=72
9 단
9X1=9 9X2=18 9X3=27 9X4=36 9X5=45 9X6=54 9X7=63 9X8=72 9X9=81

In [ ]:
#리스트 컴프리헨션: 리스트를 간결하게 생성하는 방법
#[표현식 for 변수 in iterable(list) if 조건식]

list_comp = [1,2,3,4]

#결과 리스트(컴프리헨션 사용X)
list_result = []
for num in list_comp:
    list_result.append(num*3)

print(list_result)  # Output: [3, 6, 9, 12]

[3, 6, 9, 12]

In [ ]:
# 리스트 컴프리헨션 사용
list_result_1 = [num*3 for num in list_comp]  
print(list_result_1)  # Output: [3, 6, 9, 12]

[3, 6, 9, 12]

In [ ]:
# 홀수일 때만 3배 곱하기
# list_comp = [1,2,3,4]

# #결과 리스트(컴프리헨션 사용X)
# list_result = []
# for num in list_comp:
#     if num % 2 == 1:  # 홀수인 경우 
#       list_result.append(num*3)

# print(list_result)  # Output: [3, 9]

# 리스트 컴프리헨션 사용
list_result_2 = [num*3 for num in list_comp if num % 2 == 1]
print(list_result_2)  # Output: [3, 9]

[3, 9]

In [156]:
# 특정 연도 건강검진 대상 여부 판별 및 검진 종류 확인
# 매개변수로 올 해 연도와 태어난 해(연도)를 전달받음
# 대한민국 성인(20세)의 경우 무료로 2년마다 건강검진을 받을 수 있음
# 짝수 해에 태어난 사람은 올 해가 짝수년이라면 검사 대상이 됨
# 40 이상의 경우는 암 검사도 무료로 검사를 할 수 있음
corrent_year = input('연도를 입력하세요: ')
birth_year = input('태어난 연도를 입력하세요: ')
corrent_year = int(corrent_year)
birth_year = int(birth_year)
your_old = corrent_year - birth_year  # 나이 계산
if (your_old) >= 20: #성인인지 확인
    if (corrent_year & 2 == 0 and birth_year % 2 == 0 ) or (corrent_year % 2 == 1 and birth_year % 2 == 1):
        print('무료 건강검진 대상입니다.')
        if(your_old >= 40):
            print('암 검사도 무료로 가능합니다.')
    else:
        print('무료 건강검진 대상이 아닙니다.')
else:
    print('성인이 아닙니다. 무료 건강검진 대상이 아닙니다.')

무료 건강검진 대상입니다.

In [157]:
# 1부터 100까지의 합을 구하는 프로그램
sum = 0
for i in range(1,101):
    sum += i  # sum = sum + i
print(f'1부터 100까지의 합: {sum}')

1부터 100까지의 합: 5050

In [158]:
#for문을 이용하여 1부터 10까지를 곱한 결과를 출력하는 프로그램 작성
result_3 = 1
for i in range(1, 11):
    result_3*= i  # result_3 = result_3 * i
print(f'1부터 10까지의 곱: {result_3}')

1부터 10까지의 곱: 3628800

In [ ]:
# 구구단의 짝수 단만 출력
# 2단은 2*2, 4단은 4*4...까지 출력
for dan in range(2,10,2): # 2단부터 9단까지 2씩 증가
    print(f'{dan} 단')
    for i in range(1, dan+1):
        print(f'{dan}*{i}={dan*i}', end=' ')
    print()  # 줄바꿈

2 단
2*1=2 2*2=4
4 단
4*1=4 4*2=8 4*3=12 4*4=16
6 단
6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36
8 단
8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64

In [172]:
# while 문을 무한 루프로 구성하여 작성하는 예제
# 1부터 시작해서 모든 짝수와 3의 배수를 더해서 그 합이 언제 1000이 넘는지, 
# 그리고 1000이 넘어선 값은 얼마가 되는지 계산하여 출력

total_sum = 0
num = 1
while True:
    num += 1    # num을 1씩 증가시킴
    # 짝수이거나 3의 배수인 경우에만 합산
    if num%2 == 0 or num %3 == 0:
        total_sum += num
        print(num, total_sum)
        
    else:   # 짝수도 아니고 3의 배수도 아닌 경우
        continue
    if total_sum > 1000:
        print(f'1000이 넘은 시점의 값은: {total_sum}, 총 합은: {num}')
        break

2 2
3 5
4 9
6 15
8 23
9 32
10 42
12 54
14 68
15 83
16 99
18 117
20 137
21 158
22 180
24 204
26 230
27 257
28 285
30 315
32 347
33 380
34 414
36 450
38 488
39 527
40 567
42 609
44 653
45 698
46 744
48 792
50 842
51 893
52 945
54 999
56 1055
1000이 넘은 시점의 값은: 1055, 총 합은: 56